<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
  <add name="myservicedb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Lenovo\source\repos\reginapractice2\reginapractice2\servicedb1.mdf;Integrated Security=True"/>
  <add name="reginapractice2.Properties.Settings.servicedb1ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\servicedb1.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
 </connectionStrings>
</configuration>
